<header class = "headercss">
    <!-- <nav class ="navbar navbar-expand-md navbar-dark bg-dark"> -->
    <!-- <div ><a class="a2" routerLink="/" ><b>Employee Portal</b></a></div> -->
    <div routerLink="/" class="a0"><mat-icon class="a01" routerLink="/" matTooltip="Home">home</mat-icon>Employee Portal</div>
    
    <div class="a1">
      <ul class="a1">
        <!-- <li><a  routerLink="/" class="nav-link">View Employees</a></li> -->
        <li><a class="a3" routerLink="/searchprovider2" >Search Provider</a></li>
        <li><a  routerLink="/addemployee" >Add New Employee</a></li>
        <!-- <li><a  routerLink="/searchprovider" class="nav-link">Search Providers</a></li> -->
        
      
      </ul>
    </div>
    <div ><mat-icon class="a0" routerLink="/" matTooltip="Logout">logout</mat-icon></div>
    
    
    <!-- </nav> -->
    
</header>